# PostgreSQL local
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=servicios_medicos

PORT=3000
JWT_SECRET=change_me

# Correo (Gmail + contraseña de aplicación)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_TO=
